---
import { getLangFromUrl, useTranslations } from "../../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const translations = useTranslations(lang);
---

<section class="px-7 lg:px-0 md:mt-7">
  <h2
    class="flex justify-between text-2xl font-bold leading-10 tracking-tight text-neutral-900 dark:text-neutral-100"
  >
    {translations.experience.moreProjects.header}
  </h2>
  <p class="mb-6 text-base text-neutral-600 dark:text-neutral-400 text-pretty">
    {translations.experience.moreProjects.description}
  </p>
</section>
<ul
  class="list-disc text-neutral-600 dark:text-neutral-400 text-pretty flex flex-col px-4"
>
  {
    translations.experience.moreProjects.projects.map(
      (project: { url: string; label: string; description: string }) => (
        <li>
          <a
            href={project.url}
            target="_blank"
            rel="noopener noreferrer"
            class="font-semibold underline"
          >
            {project.label}
          </a>
          , {project.description}
        </li>
      )
    )
  }
</ul>
